.commentButton {
    background-color: #dd1919;
    color: white;
    padding: 8px;
    border: 1px ridge rgb(70, 70, 70);
    border-radius: 25%;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.commentButton:hover {
    background-color: #ff5050;
    color: rgb(209, 209, 209)
}

.cardBox {
    transform: scale(1.0);
    transition: transform 0.3s linear;
    position: relative;
}

.cardBox:hover {
    transform: scale(1.1);
    transition: transform 0.3s linear;
}