.ratingBox {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: rgb(7, 49, 49);
    font-size: 0.75rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}